<div class="card-container">
  <div class="flex justify-between items-center gap-4 mb-6">
    <h4 class=" text-2xl custom-title">Liste des réclamations </h4>
    <button type="button"   *ngIf="authService.hasRole('CUSTOMER')" (click)="openModel()" class="custom-button">
      + Ajouter Réclamation
    </button>
  </div>

  <hr class="separator-line  my-1" />

  <!-- Barre de recherche et filtre -->
  <div class="search-container mb-4">
    <p-table #dt class="custom-pagination-style custom-datatable-sm p-datatable-sm"
             [value]="claims"
             [tableStyle]="{ 'min-width': '10rem' }"
             [paginator]="true"
             [rows]="5"
             [rowsPerPageOptions]="[5, 10, 20]"
             [globalFilterFields]="['subject', 'message']"
             selectionMode="single"
             [(selection)]="selectedClaim">

      <ng-template #caption>
        <div class="flex justify-between">
          <p-button icon="pi pi-filter-slash" label="Annuler recherche"
                    severity="contrast" variant="outlined" (click)="clear(dt)"/>
          <p-iconField iconPosition="left">
            <p-inputIcon>
              <i class="pi pi-search"></i>
            </p-inputIcon>
            <input
              pInputText
              type="text"
              [(ngModel)]="searchValue"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Rechercher"
            />
          </p-iconField>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr class="custom-header">
          <th class="header-cell">Réf Réclamation</th>
          <th class="header-cell">Sujet</th>
          <th class="header-cell">Message</th>
          <th class="header-cell">Date </th>
          <th class="header-cell">Statut</th>
          <th class="header-cell">Action</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-claim>
        <tr [pSelectableRow]="claim">
          <td>#00TN{{ claim.id }}</td>
          <td>{{ claim.subject }}</td>
          <td>{{ claim.message }}</td>
          <td>{{ claim.dateReclamation | date: 'dd/MM/yyyy'}}</td>


          <td>  <p-tag
            [value]="formatStatus(claim.status?.toString())"
            [severity]="getSeverity(claim.status?.toString())"
            [icon]="getIcon(claim.status?.toString())">
          </p-tag></td>
          <td>
            <button pButton type="button" icon="pi pi-eye" class="p-button-rounded p-button-text p-button-info"
                    (click)="viewDetails(claim.id)" title="Voir les détails"></button>
            <button pButton type="button" icon="pi pi-trash"
                    class="p-button-rounded p-button-text p-button-danger"
                    (click)="deleteClaim(claim.id)" title="Supprimer"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- Popup d'ajout de transaction -->
<app-popup [isOpen]="isModelOpen" (closeModel)="closeModel()" [popupTitle]="'Ajouter une réclamation'">
  <app-add-claim (formSubmitted)="closeModel()" (cancel)="closeModel()"></app-add-claim>
</app-popup>


<app-claim-details
*ngIf="showDetailsPopup"
[claim]="selectedClaimDetails"
(close)="showDetailsPopup=false">

</app-claim-details>
