<div class="card">
  <h2 class="text-center">Inscription</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="p-fluid p-formgrid p-grid">

      <div class="p-field p-col-12 p-md-6" >
      <div><label for="firstName">Prénom</label> </div>
        <input pInputText  type="text" formControlName="firstName" id="firstName" placeholder="Entrez votre prénom"
               class="w-full md:w-80"/>
      </div>

      <div class="p-field p-col-12 p-md-6">
      <div><label for="lastName">Nom</label></div>
        <input pInputText  type="text" formControlName="lastName" id="lastName" placeholder="Entrez votre nom"
               class="w-full md:w-80"/>
      </div>

      <div class="p-field p-col-12 p-md-6">
        <div><label for="username">Nom utilisateur</label></div>
        <input pInputText  type="text" formControlName="username" id="username" placeholder="Entrez votre nom utilisateur"
               class="w-full md:w-80"/>
      </div>

      <div class="p-field p-col-12 p-md-6">
     <div><label for="email">E-mail</label></div>
        <input pInputText formControlName="email" id="email" placeholder="Entrez votre e-mail" type="email"
               class="w-full md:w-80"/>
      </div>

      <div class="p-field p-col-12 p-md-6">
       <div><label for="password">Mot de passe</label></div>
        <input pPassword formControlName="password" id="password" placeholder="Entrez votre mot de passe" toggleMask feedback="true"
               class="w-full md:w-80"/>
      </div>

<!--      <div class="p-field p-col-12 p-md-6">-->
<!--        <div><label >Rôle</label></div>-->
<!--        <p-dropdown formControlName="roleName" [options]="roles" optionLabel="name" placeholder=""  class="w-full md:w-80"-->
<!--        >-->
<!--        </p-dropdown>-->
<!--      </div>-->

        <div class="p-col-12">
        <div> <button a type="submit" label="S'inscrire" class="p-button-success p-button-rounded p-mt-3" [disabled]="registerForm.invalid"></button>
      </div>
        </div>

    </div>
  </form>

  <p-toast></p-toast>
</div>
