<div class="login-container">
  <div class="card">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Nom utilisateur</label>
        <input formControlName="username" pInputText type="text" id="username" placeholder="Entrez votre nom d'utilisateur" />
      </div>

      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input formControlName="password" pPassword type="password" id="password" placeholder="Entrez votre mot de passe" [feedback]="false" />
      </div>

      <button pButton type="submit" label="Se connecter" class="btn-block"   ></button>
      <div *ngIf="errorMessage" class="error-message">
        ⚠️ {{ errorMessage }}
      </div>
    </form>
    <p class="register-link">
      Pas encore inscrit ? <a routerLink="auth/register">Créer un compte</a>
    </p>
  </div>
</div>
