<div class="login-page">
  <div class="login-left">
    <div class="card">
      <h2 class="title">Bienvenue !</h2>
      <div *ngIf="errorMessage" class="form-error">
        {{ errorMessage }}
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Nom utilisateur</label>
          <input formControlName="username" pInputText type="text" id="username" placeholder="Entrez votre nom d'utilisateur" />
        </div>

        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input formControlName="password" pPassword type="password" id="password" placeholder="Entrez votre mot de passe" [feedback]="false" />
        </div>

        <button pButton type="submit" label="Se connecter" class="btn-block"></button>
      </form>
    </div>
  </div>

  <div class="login-right">
    <img src="assets/Capture22-removebg-preview.png" alt="Illustration" />
  </div>
</div>
