<div *ngIf="authService.hasRole('CUSTOMER')">
<div class="card-container">
  <div class="bank-card" *ngFor="let account of accounts">
    <div class="card-main-content">
      <!-- Informations principales -->
      <div class="card-content">
        <div class="card-header">
          <div class="account-details">
            <div class="account-type">Compte {{ account.typeBankAccount }}</div>
            <div class="account-number">{{ account.accountNumber | formatAccountNumber }}</div>
          </div>
          <i class="pi pi-wallet"></i>
        </div>

        <div class="user-name">{{ account.userFirstName }} {{ account.userLastName }}</div>
        <div class="account-balance">{{ account.balance | number:'1.2-2' }} DT</div>
      </div>

      <!-- Bloc d'alerte personnalisée -->
      <div class="alert-card" *ngIf="account.isBlocked">
        <div class="custom-card-warning">
          <!-- Header -->
          <div class="custom-card-header">
            <i class="pi pi-exclamation-triangle" style="color: red; font-size: 1.5rem;"></i>
            <span class="ml-2">Alerte de sécurité</span>
          </div>

          <!-- Body -->
          <div class="custom-card-body">
            <div class="alert-message">
              Ce compte a été <strong>bloqué</strong> en raison de <strong>transactions suspectes</strong>.
            </div>
          </div>

          <!-- Footer -->
          <div class="custom-card-footer flex justify-content-end">
            <button pButton type="button" label="Faire une réclamation" icon="pi pi-envelope"
                    class="p-button-danger"
                    (click)="openReclamation()">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Tableau des transactions -->
<div class="transactions-table-wrapper">
  <p-table #dt class="custom-pagination-style custom-datatable-sm p-datatable-sm"
           [value]="recentTransactions"
           [tableStyle]="{ 'min-width': '10rem' }">

    <ng-template pTemplate="header">
      <tr class="custom-header">
        <th class="header-cell">Réf transaction</th>
        <th class="header-cell">Montant</th>
        <th class="header-cell">Devise</th>
        <th class="header-cell">Pays</th>
        <th class="header-cell">Date</th>
        <th class="header-cell">Type</th>
        <th class="header-cell">Statut</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-transaction>
      <tr>
        <td>#00TN{{ transaction.transactionId }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.currency }}</td>
        <td>{{ transaction.country }}</td>
        <td>{{ transaction.transactionDate | date: 'dd/MM/yyyy' }}</td>
        <td>{{ transaction.typeTransaction }}</td>
        <td>
          <p-tag
            [value]="formatStatus(transaction.transactionStatus?.toString())"
            [severity]="getSeverity(transaction.transactionStatus?.toString())"
            [icon]="getIcon(transaction.transactionStatus?.toString())">
          </p-tag>
        </td>
      </tr>
    </ng-template>

  </p-table>
</div>
</div>
<div *ngIf="authService.hasRole('ADMIN' )||authService.hasRole( 'BANKER')">

  <div class="flex justify-between items-center gap-4 mb-6">
    <h4 class=" text-2xl custom-title">Liste des Comptes Bancaires </h4>
    <button type="button"    class="custom-button">
      + Ajouter Compte Bancaire
    </button>
  </div>

  <hr class="separator-line  my-1" />

  <!-- Barre de recherche et filtre -->
  <div class="search-container mb-4">
    <p-table #dt class="custom-pagination-style custom-datatable-sm p-datatable-sm"
             [value]="accounts"
             [tableStyle]="{ 'min-width': '10rem' }"
             [paginator]="true"
             [rows]="5"
             [rowsPerPageOptions]="[5, 10, 20]"
             [globalFilterFields]="['userFirstName', 'userLastName','typeBankAccount','openingDate,accountNumber']"
             selectionMode="single"
             [(selection)]="selectedAccount">
      <ng-template #caption>
        <div class="flex justify-between">
          <p-button icon="pi pi-filter-slash" label="Annuler recherche"
                    severity="contrast" variant="outlined" (click)="clear(dt)"/>
          <p-iconField iconPosition="left">
            <p-inputIcon>
              <i class="pi pi-search"></i>
            </p-inputIcon>
            <input
              pInputText
              type="text"
              [(ngModel)]="searchValue"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Rechercher"
            />
          </p-iconField>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr class="custom-header">
          <th class="header-cell">Réf Compte Bancaire </th>
          <th class="header-cell">Titulaire</th>
          <th class="header-cell">Numéro Compte</th>
          <th class="header-cell">Type Compte Bancaire  </th>
          <th class="header-cell">Montant </th>
          <th class="header-cell">Date d'overture</th>
          <th class="header-cell">Statut</th>
          <th class="header-cell">Action</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-account>
        <tr [pSelectableRow]="account">
          <td>#00TN{{ account.bankAccountId }}</td>
          <td>{{ account.userFirstName }} {{ account.userLastName }}</td>
          <td>{{ account.accountNumber }}</td>
          <td>{{ account.typeBankAccount }}</td>
          <td>{{ account.balance }}</td>
          <td>{{ account.openingDate | date: 'dd/MM/yyyy'}}</td>
          <td>
            <p-tag
              [value]="formatAccountStatus(account.isBlocked)"
              [severity]="getAccountSeverity(account.isBlocked)"
              [icon]="getAccountIcon(account.isBlocked)">
            </p-tag>
          </td>

          <td>
             <button pButton type="button"
          [icon]="account.isBlocked ? 'pi pi-lock-open' : 'pi pi-lock'"
          [class.p-button-success]="account.isBlocked"
          [class.p-button-warning]="!account.isBlocked"
          class="p-button-rounded p-button-text"
          [title]="account.isBlocked ? 'Débloquer' : 'Bloquer'"
          (click)="toggleBlock(account)">
  </button>
            <button pButton type="button" icon="pi pi-eye" class="p-button-rounded p-button-text p-button-info"
                     title="Voir les détails"></button>
            <button pButton type="button" icon="pi pi-trash"
                    class="p-button-rounded p-button-text p-button-danger"
                    title="Supprimer"></button>
          </td>

        </tr>
      </ng-template>
    </p-table>
  </div>
</div>







