<div class="card">
  <p-table #dt  class="custom-pagination-style"
           [value]="transactions"
           [tableStyle]="{ 'min-width': '10rem' }"
           [paginator]="true"
           [rows]="5"
           [rowsPerPageOptions]="[5, 10, 20]"
           showGridlines

           [globalFilterFields]="['transactionId', 'country']"
           selectionMode="single"
           [(selection)]="selectedTransaction">

    <!-- Barre de recherche -->
    <ng-template #caption>
      <div class="flex justify-between">
        <p-button icon="pi pi-filter-slash"
                  label="Annuler recherche"
                  severity="contrast"
                  variant="outlined"
                  (click)="clear(dt)"
                  size="small"/>
        <p-iconField iconPosition="left">
          <p-inputIcon >
            <i class="pi pi-search"></i>
          </p-inputIcon>
          <input
            pInputText
            type="text"
            [(ngModel)]="searchValue"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Recherche globale"
          />
        </p-iconField>
      </div>
    </ng-template>

    <!-- En-têtes -->
    <ng-template pTemplate="header" >
      <tr class="custom-header">
        <th class="header-cell">Id transaction</th>
        <th class="header-cell">Montant</th>
        <th class="header-cell">Devise</th>
        <th class="header-cell">Pays</th>
        <th class="header-cell">Date</th>
        <th class="header-cell">Type</th>
        <th class="header-cell">Statut</th>
      </tr>
    </ng-template>

    <!-- Corps -->
    <ng-template pTemplate="body" let-transaction>
      <tr [pSelectableRow]="transaction">
        <td>{{ transaction.transactionId }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.currency }}</td>
        <td>{{ transaction.country }}</td>
        <td>{{ transaction.transactionDate }}</td>
        <td>{{ transaction.typeTransaction }}</td>
        <td>{{ transaction.transactionStatus }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
