<!-- Carte contenant le tableau -->
<div class="card-container">
  <div class="flex justify-between items-center gap-4 mb-6">
    <h4 class=" text-2xl custom-title">Liste des transactions</h4>
    <button type="button" (click)="openModel()" class="custom-button">
      + Ajouter Transaction
    </button>
  </div>

  <hr class="separator-line  my-1" />
  <!-- Barre de recherche et filtre -->
  <div class="search-container mb-4">
    <p-table #dt class="custom-pagination-style custom-datatable-sm p-datatable-sm"
             [value]="transactions"
             [tableStyle]="{ 'min-width': '10rem' }"
             [paginator]="true"
             [rows]="5"
             [rowsPerPageOptions]="[5, 10, 20]"
             [globalFilterFields]="['transactionId', 'country']"
             selectionMode="single"
             [(selection)]="selectedTransaction">

      <ng-template #caption>
        <div class="flex justify-between">
          <p-button icon="pi pi-filter-slash" label="Annuler recherche" severity="contrast" variant="outlined" (click)="clear(dt)"/>
          <p-iconField iconPosition="left">
            <p-inputIcon>
              <i class="pi pi-search"></i>
            </p-inputIcon>
            <input
              pInputText
              type="text"
              [(ngModel)]="searchValue"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Rechercher"
            />
          </p-iconField>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr class="custom-header">
          <th class="header-cell">Réf transaction</th>
          <th class="header-cell">Montant</th>
          <th class="header-cell">Devise</th>
          <th class="header-cell">Pays</th>
          <th class="header-cell">Date</th>
          <th class="header-cell">Type</th>
          <th class="header-cell">Statut</th>
          <th class="header-cell">Action</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-transaction>
        <tr [pSelectableRow]="transaction">
          <td>#00TN{{ transaction.transactionId }}</td>
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.currency }}</td>
          <td>{{ transaction.country }}</td>
          <td>{{ transaction.transactionDate   | date: 'dd/MM/yyyy' }}</td>
          <td>{{ transaction.typeTransaction }}</td>
          <!--<td><p-tag value="VALID" severity="success" icon="pi pi-check"></p-tag></td>-->
          <td>  <p-tag
            [value]="transaction.transactionStatus"
            [severity]="getSeverity(transaction.transactionStatus)"
            [icon]="getIcon(transaction.transactionStatus)">
          </p-tag></td>

          <td>
            <button pButton type="button" icon="pi pi-eye" class="p-button-rounded p-button-text p-button-info"
                    (click)="viewDetails(transaction.transactionId)" title="Voir les détails"></button>

<!--            <button pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-warning"-->
<!--              (click)="editTransaction(transaction)" title="Modifier"></button>-->

            <button pButton type="button" icon="pi pi-trash"
              class="p-button-rounded p-button-text p-button-danger"
              (click)="deleteTransaction(transaction)" title="Supprimer"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <!-- Popup d'ajout de transaction -->
  <app-popup [isOpen]="isModelOpen" (closeModel)="closeModel()" [popupTitle]="'Ajouter une transaction'">
    <app-add-transaction (formSubmitted)="closeModel()" (cancel)="closeModel()"></app-add-transaction>
  </app-popup>
</div>

<!-- Popup des détails de la transaction -->
<app-transaction-details
  *ngIf="showDetailsPopup"
  [transaction]="selectedTransactionDetails"
  (close)="showDetailsPopup = false">
</app-transaction-details>

