<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100 p-8">
  <h1 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl font-light text-black mt-4 mb-6">
    Convertisseur de Devises
  </h1>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 w-full max-w-4xl">

    <!-- From Section -->
    <div class="bg-white shadow-lg rounded-2xl p-6">
      <div class="text-sm text-gray-500">Devise source</div>
      <div class="text-xl font-semibold">{{ fromCurrency?.label }}</div>

      <div class="flex items-center gap-2 mt-4">
        <p-dropdown [options]="currencies"
                    [(ngModel)]="fromCurrency"
                    optionLabel="label"
                    class="w-full custom-dropdown " placeholder="Devise source"></p-dropdown>
        <img *ngIf="fromCurrency" [src]="'https://flagcdn.com/48x36/' + fromCurrency.flag + '.png'"
             class="w-8 h-6 rounded" alt="flag" />
      </div>

      <input pInputText type="number" [(ngModel)]="amount"
             class="mt-6 text-4xl font-bold w-full text-center" placeholder="0" />

      <div *ngIf="currentRate !== null" class="mt-4 text-sm text-gray-600">
        Taux actuel : <span class="font-semibold">{{ currentRate }}</span>
      </div>
      <div class="text-green-600 text-sm" *ngIf="change !== null">
        ▲ {{ change }} ({{ changePercent }}%)
      </div>
    </div>

    <!-- To Section -->
    <div class="bg-white shadow-lg rounded-2xl p-6">
      <div class="text-sm text-gray-500">Devise cible</div>
      <div class="text-xl font-semibold">{{ toCurrency?.label }}</div>

      <div class="flex items-center gap-2 mt-4">
        <p-dropdown [options]="currencies"
                    [(ngModel)]="toCurrency"
                    optionLabel="label"
                    class="w-full custom-dropdown" placeholder="Devise cible"></p-dropdown>
        <img *ngIf="toCurrency" [src]="'https://flagcdn.com/48x36/' + toCurrency.flag + '.png'"
             class="w-8 h-6 rounded" alt="flag" />
      </div>

      <div class="mt-6 text-4xl font-bold text-center">
        {{ convertedAmount || '0.00' }}
      </div>

<!--      &lt;!&ndash; ✅ Graphique dynamique &ndash;&gt;-->
<!--      <p-chart *ngIf="chartData" type="line"-->
<!--               [data]="chartData"-->
<!--               [options]="chartOptions"-->
<!--               class="mt-6 h-64">-->
<!--      </p-chart>-->
    </div>

  </div>

  <button pButton type="button" label="Convertir" icon="pi pi-refresh"
          class="mt-6" (click)="convert()"
          [disabled]="!fromCurrency || !toCurrency || amount <= 0">
  </button>
</div>
