<div class="popup-overlay" *ngIf="transaction">
  <div class="popup">
    <!-- Header stylisé -->
    <div class="popup-header">
      <h3 >Détails de la transaction</h3>
      <button (click)="closePopup()" class="text-gray-500 text-xl font-bold hover:text-red-600">×</button>
    </div>

    <!-- Contenu principal -->
    <div class="popup-content">
      <div class="detail-row">
        <span class="label"><i class="pi pi-hashtag"></i> Réf transaction:</span>
        <span class="value">#00TN{{ transaction.transactionId }}</span>
      </div>
      <div class="detail-row">
        <span class="label"><i class="pi pi-money-bill"></i> Montant :</span>
        <span class="value">{{ transaction.amount }} {{ transaction.currency }}</span>
      </div>
      <div class="detail-row">
        <span class="label"><i class="pi pi-globe"></i> Pays :</span>
        <span class="value">{{ transaction.country }}</span>
      </div>
      <div class="detail-row">
        <span class="label"><i class="pi pi-calendar"></i> Date :</span>
        <span class="value">{{ transaction.transactionDate | date: 'dd/MM/yyyy' }} </span>
      </div>
      <div class="detail-row">
        <span class="label"><i class="pi pi-tag"></i> Type :</span>
        <span class="value">{{ transaction.typeTransaction }}</span>
      </div>
      <div class="detail-row">
        <span class="label"><i class="pi pi-check-circle"></i> Statut :</span>
        <span class="value">{{ transaction.transactionStatus }}</span>
      </div>
    </div>
  </div>
</div>
