.custom-title{
  color: #40484f;

}
.search-container {
  margin-top: 20px;
}

.separator-line {
  border: 0;
  border-top: 1px dashed #e8eaeb;
  margin: 5px 0;
}

.custom-header {
  border-bottom: 2px dashed #e8eaeb;
}

.custom-button {
  background-color: #ee6548 !important;
  color: white !important;
  border-radius: 4px !important;
  padding: 10px 8px !important;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  border: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 1rem
}

.custom-button:hover {
  background-color: #d95e3f !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.custom-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(238, 101, 72, 0.5);
}

.custom-header .header-cell {
  background-color: #f1f4f7;
  color: #848699;
  vertical-align: middle;
  font-weight: bold;
}

.p-datatable-tbody > tr > td {
  font-size: 0.9rem;
  height: 30px;
  font-family: 'Arial', sans-serif;
}

.p-datatable .p-datatable-tbody > tr.p-datatable-row-selected {
  background-color: #405188 !important;
  color: white !important;
}

.custom-pagination-style .p-paginator .p-paginator-pages .p-paginator-page.p-paginator-page-selected {
  background-color: #405188 !important;
  color: white !important;
  border-radius: 0px !important;
}

.custom-pagination-style .p-paginator .p-paginator-pages .p-paginator-page:hover {
  background-color: #405188 !important;
  color: white !important;
  border-radius: 0px !important;
}

